<div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
      <a class="nav-item nav-link link-body-emphasis active" href="{% url 'blog-home' %}">Home</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog-home' %}">Design</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog-home' %}">Business</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog-about' %}">Aboout</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'blog-home' %}">Contact</a>
    </nav>
  </div>